
@{
    ViewBag.Title = "FeedBack";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2><span class="label label-primary" style="display:block;">意见及建议</span></h2>
        </div>
    </div>
</div>

