@{
    ViewBag.Title = "Home Page";
}

<div id="carousel" class="container">
        <div id="carousel-example-generic" class="carousel slide img-responsive" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Images/1.png" alt="First slide">
                </div>
                <div class="item">
                    <img src="~/Content/Images/2.png" alt="Second slide">
                </div>
                <div class="item">
                    <img src="~/Content/Images/3.png" alt="Third slide">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</div>
<div id="intro" class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p class="text-left">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p class="text-left">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p class="text-left">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
    </div>
</div>
<div id="route_intro" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2><span class="label label-primary" style="display:block;">旅游景点及路线简介</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/4.png" />
            </a>
            <h2>挪威新旧首都＋峡湾7日行</h2>
            <p>我走过挪威的都城与维京的原野，徜徉在斯塔万格热闹的街头，也跋涉在布道石险峻的山路。 这里是一个真实的北欧。   路线：奥斯陆-卑尔根-斯塔万格-布道石-斯塔万格 推荐旅游时间：4月至9月底 天数：7天</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-6">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/5.png" />
            </a>
            <h2>挪威新旧首都＋峡湾7日行</h2>
            <p>我走过挪威的都城与维京的原野，徜徉在斯塔万格热闹的街头，也跋涉在布道石险峻的山路。 这里是一个真实的北欧。   路线：奥斯陆-卑尔根-斯塔万格-布道石-斯塔万格 推荐旅游时间：4月至9月底 天数：7天</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-6">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/6.png" />
            </a>
            <h2>挪威新旧首都＋峡湾7日行</h2>
            <p>我走过挪威的都城与维京的原野，徜徉在斯塔万格热闹的街头，也跋涉在布道石险峻的山路。 这里是一个真实的北欧。   路线：奥斯陆-卑尔根-斯塔万格-布道石-斯塔万格 推荐旅游时间：4月至9月底 天数：7天</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-6">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/7.png" />
            </a>
            <h2>挪威新旧首都＋峡湾7日行</h2>
            <p>我走过挪威的都城与维京的原野，徜徉在斯塔万格热闹的街头，也跋涉在布道石险峻的山路。 这里是一个真实的北欧。   路线：奥斯陆-卑尔根-斯塔万格-布道石-斯塔万格 推荐旅游时间：4月至9月底 天数：7天</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
    </div>
</div>
<div id="exp" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2><span class="label label-primary" style="display:block;">非凡体验</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/8.png" />
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/9.png" />
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/10.png" />
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img class="img-responsive img-rounded" src="~/Content/Images/11.png" />
            </a>
        </div>
    </div>
</div>
